body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
   background: #000 url(../img/bg.jpg);
  background-size: cover;
}
.container{
	background-color: white;
	width: 60% !important;
	-webkit-box-shadow: 2px 4px 12px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 4px 12px 10px rgba(0,0,0,0.75);
box-shadow: 2px 4px 12px 10px rgba(0,0,0,0.75);
}
.head{
	background-color: black;

}

#title_h1{
	color: white;
}
#title_h2{
	color: #00CED1;
	text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h1{
  font-size: 36px;
  text-align: center;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
#title_cv{
	color: black;
	text-align: center;
}

span{
	 font-weight: bold;
}
.information{
	padding: 15px;
}
